# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Understand basic arithmetic operations in Python
- Create tables and lists in Jupyter Notebook
- Explore development environment tools used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. PyTorch
4. Seaborn
5. Plotly

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Examples of Arithmetic Expressions

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author

Travis Corgey